In [1]:
import numpy as np
import pandas as pd
# create data
data = pd.DataFrame({'methodology': np.repeat(['A', 'B', 'C'], 4),
                     'current_grade': [67, 88, 75, 85,
                                       92, 77, 74, 88,
                                       91, 88, 82, 80],
                     'test_score': [77, 89, 74, 69,
                                    88, 93, 94, 90,
                                    85, 81, 83, 79]})
data

   methodology  current_grade  test_score
0            A             67          77
1            A             88          89
2            A             75          74
3            A             85          69
4            B             92          88
5            B             77          93
6            B             74          94
7            B             88          90
8            C             91          85
9            C             88          81
10           C             82          83
11           C             80          79

In [6]:
from pingouin import ancova

data = pd.DataFrame({'methodology': np.repeat(['A', 'B', 'C'], 4),
                     'current_grade': [67, 88, 75, 85,
                                       92, 77, 74, 88,
                                       91, 88, 82, 80],
                     'test_score': [77, 89, 74, 69,
                                    88, 93, 94, 90,
                                    85, 81, 83, 79]})

ancova(data=data, dv='test_score', covar='current_grade', between='methodology')

          Source          SS  DF         F     p-unc       np2
0    methodology  387.510992   2  6.005703  0.025542  0.600228
1  current_grade    1.404669   1  0.043540  0.839927  0.005413
2       Residual  258.095331   8       NaN       NaN       NaN